<div class="grid grid-cols-1 gap-4 px-4 mt-8 sm:grid-cols-4 sm:px-8">
  <div class="flex items-center border rounded-sm overflow-hidden shadow">
    <div class="p-4">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-12 w-12">
        <path stroke-linecap="round" stroke-linejoin="round" d="M9.813 15.904 9 18.75l-.813-2.846a4.5 4.5 0 0 0-3.09-3.09L2.25 12l2.846-.813a4.5 4.5 0 0 0 3.09-3.09L9 5.25l.813 2.846a4.5 4.5 0 0 0 3.09 3.09L15.75 12l-2.846.813a4.5 4.5 0 0 0-3.09 3.09ZM18.259 8.715 18 9.75l-.259-1.035a3.375 3.375 0 0 0-2.455-2.456L14.25 6l1.036-.259a3.375 3.375 0 0 0 2.455-2.456L18 2.25l.259 1.035a3.375 3.375 0 0 0 2.456 2.456L21.75 6l-1.035.259a3.375 3.375 0 0 0-2.456 2.456ZM16.894 20.567 16.5 21.75l-.394-1.183a2.25 2.25 0 0 0-1.423-1.423L13.5 18.75l1.183-.394a2.25 2.25 0 0 0 1.423-1.423l.394-1.183.394 1.183a2.25 2.25 0 0 0 1.423 1.423l1.183.394-1.183.394a2.25 2.25 0 0 0-1.423 1.423Z" />
      </svg>
    </div>
    <div class="px-4 text-gray-700">
      <h3 class="text-sm tracking-wider">Total Wardrobe Items</h3>
@total_items
 %></p>
    </div>
  </div>
  <div class="flex items-center border rounded-sm overflow-hidden shadow">
    <div class="p-4"><svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12" fill="none"
        viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M8 7v8a2 2 0 002 2h6M8 7V5a2 2 0 012-2h4.586a1 1 0 01.707.293l4.414 4.414a1 1 0 01.293.707V15a2 2 0 01-2 2h-2M8 7H6a2 2 0 00-2 2v10a2 2 0 002 2h8a2 2 0 002-2v-2">
        </path>
      </svg></div>
      <div class="px-4 text-gray-700">
        <h3 class="text-sm tracking-wider">Total Outfits</h3>
@total_outfits
 %></p>
      </div>
  </div>
  <div class="flex items-center border rounded-sm overflow-hidden shadow">
    <div class="p-4"><svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12" fill="none"
        viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M17 8h2a2 2 0 012 2v6a2 2 0 01-2 2h-2v4l-4-4H9a1.994 1.994 0 01-1.414-.586m0 0L11 14h4a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2v4l.586-.586z">
        </path>
      </svg>
    </div>
    <div class="px-4 text-gray-700">
      <h3 class="text-sm tracking-wider">Top Categories</h3>
      <p class="text-3xl">
@top_categories.each
 do |category| %>
category[1]
 %>)</span></span>
      <% end %>
      </p>
    </div>
  </div>
  <div class="flex items-center border rounded-sm overflow-hidden shadow">
    <div class="p-4"><svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12" fill="none"
        viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M4 7v10c0 2.21 3.582 4 8 4s8-1.79 8-4V7M4 7c0 2.21 3.582 4 8 4s8-1.79 8-4M4 7c0-2.21 3.582-4 8-4s8 1.79 8 4m0 5c0 2.21-3.582 4-8 4s-8-1.79-8-4">
        </path>
      </svg>
    </div>
    <div class="px-4">
      <h3 class="text-sm tracking-wider">Top Colors</h3>
      <div class="flex pt-2">
@top_colors.each
 do |tcolor| %>
(tcolor["score"] * 100).round(2)
 %>"></div>
        <% end %>
      </div>
    </div>
  </div>
</div>
