<%= content_for :title, t("scaffold.new.title", model: "Wardrobe Item") %>

<div class="container px-4 mx-auto my-8">
  <div class="flex items-center justify-between mb-4">
    <h1 class="text-lg font-semibold mb-1">
      <%= link_to "Wardrobe Items", wardrobe_items_path, class: "" %>
      <span class="font-light mx-2">\</span>
      <%= t("scaffold.new.title", model: "Wardrobe Item") %>
    </h1>
  </div>

  <div class="p-8 rounded shadow">
    <%= render "form", wardrobe_item: @wardrobe_item %>
  </div>
</div>
