<div class="max-w-7xl mx-auto mt-12 p-8 bg-white rounded shadow">
t ".title"
 %></h3>

  <div class="my-8">
render partial: "subscriptions/summary", locals: {subscription: @subscription}
 %>
  </div>

  <div class="flex-1 mt-2 mb-4 text-gray-700">
t ".description", product: Jumpstart.config.application_name
 %></div>
  </div>

  <div class="text-xl mb-4">
l Time.at(@invoice.period_end).to_date, format: :long
 %>
  </div>
  <table class="min-w-full divide-y divide-gray-300">
    <thead class="text-left">
t ".line_items.description"
 %></th>
t ".line_items.quantity"
 %></th>
t ".line_items.unit_price"
 %></th>
t ".line_items.total"
 %></th>
    </thead>
    <tbody>
@invoice.lines.auto_paging_each
 do |line_item| %>
        <tr class="border-b border-gray-200">
line_item.description
 %></td>
line_item.quantity
 %></td>
Pay::Currency.format (line_item.price.unit_amount_decimal || line_item.price.unit_amount), currency: line_item.price.currency
 %></td>
Pay::Currency.format line_item.amount, currency: line_item.price.currency
 %></td>
        </tr>
      <% end %>

      <tr>
        <td class="pt-3 px-3 text-right font-semibold" colspan="3">Subtotal</td>
Pay::Currency.format @invoice.subtotal, currency: @invoice.currency
 %></td>
      </tr>

      <tr>
        <td class="py-1 px-3 text-right font-semibold" colspan="3">Tax</td>
Pay::Currency.format @invoice.tax, currency: @invoice.currency
 %></td>
      </tr>

      <tr>
        <td class="py-1 px-3 text-right font-semibold" colspan="3">Total</td>
Pay::Currency.format @invoice.total, currency: @invoice.currency
 %></td>
      </tr>
    </tbody>
  </table>

  <div class="mt-8 flex justify-between items-center">
link_to t(".back"), subscriptions_path, class: "btn btn-secondary"
 %>
  </div>
</div>
