<% if @subscription.on_trial? %>
  <div class="notice notice-warning" role="alert">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd" />
    </svg>
t(".trial_ends", days: time_ago_in_words(@subscription.trial_ends_at))
 %></p>
  </div>
<% end %>

<div class="container m-auto my-10">
  <div class="flex flex-wrap justify-center">
    <div class="text-center">
t(".title")
 %></h1>
t(".description")
 %></p>
    </div>
  </div>

  <div class="sm:flex flex-wrap items-center justify-center"
       data-controller="pricing"
            <% if @subscription.plan == plan %>
t
            <% else %>
form_with url: subscription_url
              <% end %>
            <% end %>
          <% end %>
        <% end %>>

      <div data-pricing-target="plans" data-frequency="yearly" class="hidden flex-wrap items-center justify-center -mx-4">
@yearly_plans.each
 do |plan| %>
render layout: "subscriptions/plan", locals: {plan: plan}
 do %>
            <% if @subscription.plan == plan %>
t(".current_plan")
 %></div>
            <% else %>
form_with url: subscription_url, method: :patch
 do |f| %>
f.hidden_field :plan, value: plan.to_param
 %>
f.button t(".change_plan"), class: "btn btn-secondary btn-block", data: {disable_with: t(".processing"), turbo_confirm: "Are you sure?"}
 %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>

  </div>
</div>
