@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/*
 * Jumpstart Pro default styles
 * Remove these if you'd like to use TailwindUI which expects a clean slate
*/
/* @import "themes/dark"; */
/* @import "themes/juicy"; */
/* @import "themes/light"; */
@import "components/base";
@import "components/actiontext";
@import "components/alert";
@import "components/animation";
/* @import "components/announcements"; */
/* @import "components/avatars"; */
@import "components/buttons";
/* @import "components/cards"; */
/* @import "components/code"; */
/* @import "components/connected_accounts"; */
/* @import "components/direct_uploads"; */
/* @import "components/docs"; */
@import "components/forms";
/* @import "components/iframe"; */
/* @import "components/modal"; */
/* @import "components/nav"; */
/* @import "components/notifications"; */
@import "components/pagination";
/* @import "components/pills"; */
/* @import "components/strada"; */
/* @import "components/tabs"; */
/* @import "components/tooltips"; */
/* @import "components/trix"; */
@import "components/typography";
@import "components/util";
/* @import "components/wells"; */
/* @import "components/braintree"; */
/* @import "components/outfits"; */
/* @import "components/quizzes"; */

@import "flatpickr/dist/flatpickr.css";
@import "tippy.js/dist/tippy.css";
@import "tom-select/dist/css/tom-select.css";
@import "actiontext.css";

body:has(dialog[open]) {
  overflow: hidden;
}

dialog {
  box-shadow: 0 0 0 100vw rgb(0 0 0 / 0.5);
}

dialog.slideover[open] {
  animation: slide-in-from-left 200ms forwards ease-in-out;
}

dialog.slideover[closing] {
  pointer-events: none;
  animation: slide-out-to-left 200ms forwards ease-in-out;
}

@keyframes slide-in-from-left{
  from {
    transform: translateX(-100%);
  }
}

@keyframes slide-out-to-left{
  to {
    transform: translateX(-100%);
  }
}

 .back-to-top-container {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 1;
}

.back-to-top__button {
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  opacity: 1;
  visibility: visible;
  transition: all 0.2s ease;
}

.back-to-top-container--intersecting .back-to-top__button {
  opacity: 0;
  visibility: hidden;
}

#sidebarnav {
  @apply z-50 px-4 hidden lg:flex flex-col grow gap-y-5 text-center justify-between sticky fixed top-20 pb-5 max-h-screen h-[calc(100vh-80px)];

  &[data-expanded=false] {
    @apply flex-grow-0;
  }
}

#slideovernav .sidebar-item .sidebar-link {
  @apply gap-3 py-2.5 my-1 text-base flex items-center relative rounded-md;
  /* text-pink-800 dark:text-pink-200; */
}

#slideovernav .sidebar-item .sidebar-link:before {
  /* border-pink-600 */
  @apply border-b-2 absolute top-0 bottom-0 left-[-16px] w-0 h-full;
  content: "";
  z-index: -1;
  transition: all 0.4s ease-in-out;
}


#sidebarnav .sidebar-item .sidebar-link:before {
  /* bg-pink-300 */
  @apply absolute top-0 bottom-0 left-[-16px] w-0 h-full;
  content: "";
  z-index: -1;
  border-radius: 0px 24px 24px 0px;
  transition: all 0.4s ease-in-out;
}

#slideovernav .sidebar-item .sidebar-link:hover:before,
#sidebarnav .sidebar-item .sidebar-link:hover:before {
  width: calc(100% + 16px);
}

#slideovernav .sidebar-item .sidebar-link.active:before,
#sidebarnav .sidebar-item .sidebar-link.active:before {
  width: calc(100% + 16px);
}

#sidebarnav[data-expanded='false'] .sidebar-item .sidebar-link.active span {
  @apply pr-3;
}

#slideovernav .sidebar-item .sidebar-link,
#sidebarnav .sidebar-item .sidebar-link {
  /* text-pink-500 dark:text-pink-200 */
  @apply gap-3 py-2.5 my-1 text-base flex items-center relative rounded-md;
}

#slideovernav .sidebar-item .sidebar-link.active {
  /* border-pink-500 text-pink-500 */
  @apply italic;
}

#sidebarnav .sidebar-item .sidebar-link.active {
  /* text-pink-900 bg-pink-300 */
  @apply rounded-full;
}

#slideovernav .sidebar-item .sidebar-link:hover {
  @apply italic;
}

#sidebarnav .sidebar-item .sidebar-link:hover {
  /* @apply text-pink-300; */
}

.dropdown-menu {
  min-width: 100%;

  @screen lg {
    min-width: 200px;
  }
}
