t(".greeting", recipient: @email)
 %></p>

<% if @resource.try(:unconfirmed_email?) %>
t(".message", email: @resource.unconfirmed_email)
 %></p>
<% else %>
t(".message", email: @resource.email)
 %></p>
<% end %>
