<div data-controller="sidebar">
  <!-- Off-canvas menu for mobile -->
  <div class="relative lg:hidden">
    <!-- Off-canvas menu backdrop -->
    <div class="fixed inset-0 bg-background/80 hidden" data-sidebar-target="backdrop"></div>
  </div>
</div>
