<li class="sidebar-item">
  <%= nav_link_to root_path, class: "sidebar-link gap-3 py-2.5 my-1 text-base flex items-center relative rounded-md text-rose-100 w-full" do %>
    <span>Dashboard</span>
  <% end %>
</li>

<li class="sidebar-item">
  <%= nav_link_to wardrobe_items_path, class: "sidebar-link gap-3 py-2.5 my-1 text-base flex items-center relative rounded-md w-full text-rose-100", starts_with: "/wardrobe_items" do %>
    <span>My Wardrobe</span>
  <% end %>
</li>
<li class="sidebar-item">
  <%= nav_link_to outfits_path, class: "sidebar-link gap-3 py-2.5 my-1 text-base flex items-center relative rounded-md w-full text-rose-100", starts_with: "/outfits" do %>
    <span>My Outfits</span>
  <% end %>
</li>

<li class="sidebar-item">
  <%= nav_link_to quizzes_path, class: "sidebar-link gap-3 py-2.5 my-1 text-base flex items-center relative rounded-md w-full text-rose-100", starts_with: "/quizzes" do %>
    Quizzes
  <% end %>
</li>
